.wrap {
  background-color: #fffff0;
  display: flex;
  padding: 20px;
  box-shadow: 2px 5px 5px #ffe4e1;
  border: 1px solid #ffe4e1;
}
.container {
  max-width: 100%;
  margin: 0 auto;
}

.list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-weight: bold;
  color: black;
}
.active {
  color: #ffb6c1;
}
