.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.button {
  border: 2px solid #ffb6c1;
  border-radius: 10px;
  width: 80px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  color: #ffb6c1;
}

.input {
  background-color: transparent;
  width: 100%;
  border: 2px solid #ffb6c1;
  color: #ffb6c1;
}

.listWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.list {
  gap: 15px;
  color: black;
}

.item {
  margin-left: 40px;
  color: #000;
}
.link {
  flex: 1 1 45%;
  padding: 10px;
  color: black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.link:hover {
  color: #ffb6c1;
}
